In [1]:
import numpy as np
import pandas as pd
from pandas import json_normalize
import json

- 호텔 정보인 offering.csv파일과 리뷰 정보인 reviews.csv 파일을 연결지을만한 공통 칼럼이 없다.

In [2]:
df = pd.read_csv('../dataset/240128_TripAdvisorHotelReviews/offerings.csv')
df.shape

(4333, 9)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4333 entries, 0 to 4332
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hotel_class  3141 non-null   float64
 1   region_id    4333 non-null   int64
 2   url          4333 non-null   object
 3   phone        0 non-null      float64
 4   details      0 non-null      float64
 5   address      4333 non-null   object
 6   type         4333 non-null   object
 7   id           4333 non-null   int64
 8   name         4333 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 304.8+ KB

In [4]:
df['id'] = df['id'].astype(str)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4333 entries, 0 to 4332
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hotel_class  3141 non-null   float64
 1   region_id    4333 non-null   int64
 2   url          4333 non-null   object
 3   phone        0 non-null      float64
 4   details      0 non-null      float64
 5   address      4333 non-null   object
 6   type         4333 non-null   object
 7   id           4333 non-null   object
 8   name         4333 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 304.8+ KB

In [9]:
id_value_counts = df['id'].value_counts()
print("각 'id' 값들의 개수:")
print(id_value_counts)

각 'id' 값들의 개수:
id
113317    1
109009    1
225440    1
288742    1
98447     1
         ..
119733    1
80138     1
247027    1
226611    1
84117     1
Name: count, Length: 4333, dtype: int64